workflows/02-regeneration-deployment.json
{
  "name": "Bakal — Regeneration + Deployment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakal-regeneration",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "bakal-regen-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/NOTION_DB_RESULTATS_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Nom campagne\",\n    \"title\": {\n      \"equals\": \"{{ $json.body.campaignName }}\"\n    }\n  },\n  \"sorts\": [\n    {\n      \"property\": \"Date collecte\",\n      \"direction\": \"descending\"\n    }\n  ],\n  \"page_size\": 5\n}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Notion — Get Campaign History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/NOTION_DB_MEMOIRE_ID/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"property\": \"Confiance\",\n    \"select\": {\n      \"does_not_equal\": \"\"\n    }\n  },\n  \"sorts\": [\n    {\n      \"property\": \"Confiance\",\n      \"direction\": \"ascending\"\n    }\n  ],\n  \"page_size\": 50\n}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Notion — Get Cross-Campaign Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.lemlist.com/api/campaigns/{{ $('Webhook Trigger').item.json.body.campaignId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Lemlist — Get Original Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 620],
      "credentials": {
        "httpQueryAuth": {
          "id": "LEMLIST_CREDENTIAL_ID",
          "name": "Lemlist API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build the regeneration prompt with all context\nconst webhookData = $('Webhook Trigger').first().json.body;\nconst campaignHistory = $('Notion — Get Campaign History').first().json;\nconst memory = $('Notion — Get Cross-Campaign Memory').first().json;\nconst originalSequences = $('Lemlist — Get Original Sequences').first().json;\n\n// Extract memory patterns as text\nconst memoryPatterns = (memory.results || []).map(page => {\n  const props = page.properties || {};\n  const pattern = props.Pattern?.title?.[0]?.text?.content || '';\n  const category = props.Catégorie?.select?.name || '';\n  const data = props.Données?.rich_text?.[0]?.text?.content || '';\n  const confidence = props.Confiance?.select?.name || '';\n  return `[${confidence}] ${category}: ${pattern} — ${data}`;\n}).join('\\n');\n\n// Extract original messages from Lemlist sequence\nconst sequences = originalSequences.sequence || originalSequences.sequenceSteps || [];\nconst originalMessages = sequences.map((step, i) => {\n  const channel = step.channel || 'email';\n  const subject = step.subject || '';\n  const body = step.html || step.text || step.body || '';\n  return `--- Step ${i + 1} (${channel}) ---\\nSubject: ${subject}\\nBody: ${body}`;\n}).join('\\n\\n');\n\nconst prompt = `Tu es un expert en copywriting B2B multicanal. Tu dois régénérer les messages sous-performants d'une campagne de prospection.\n\n## Diagnostic de la campagne\n${webhookData.diagnostic}\n\n## Messages originaux\n${originalMessages}\n\n## Mémoire cross-campagne (patterns qui fonctionnent)\n${memoryPatterns || 'Pas encore de mémoire disponible — première optimisation.'}\n\n## Règles de régénération\n1. Conserve les variables Lemlist telles quelles: {{firstName}}, {{lastName}}, {{companyName}}, {{jobTitle}}\n2. Ne mentionne JAMAIS \"IA\" ou \"automatisé\" dans les copies\n3. Notes de connexion LinkedIn: max 300 caractères\n4. Break-up emails: max 3-4 lignes, jamais de culpabilisation\n5. Ton conversationnel mais professionnel\n6. Vouvoiement par défaut\n\n## Format de réponse attendu\nPour chaque message à optimiser, fournis:\n\n### [Nom de l'étape]\n**Hypothèse testée:** (ce que tu changes et pourquoi)\n\n**Version A (principale):**\nObjet: ...\nCorps: ...\n\n**Version B (A/B test):**\nObjet: ...\nCorps: ...\n\n**Ce qui a changé:** (résumé des modifications)`;\n\nreturn [{ json: { prompt, campaignId: webhookData.campaignId, campaignName: webhookData.campaignName } }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Build Regeneration Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "CLAUDE_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8192,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000007",
      "name": "Claude — Regenerate Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's regenerated messages into structured data\nconst response = $input.first().json;\nconst content = response.content || [];\nconst textBlock = content.find(b => b.type === 'text');\nconst fullText = textBlock ? textBlock.text : '';\n\nconst campaignId = $('Build Regeneration Prompt').first().json.campaignId;\nconst campaignName = $('Build Regeneration Prompt').first().json.campaignName;\n\n// Parse each step's versions\nconst stepRegex = /### \\[?([^\\]\\n]+)\\]?\\s*\\n\\*\\*Hypothèse testée:\\*\\*\\s*([\\s\\S]*?)\\n\\n\\*\\*Version A/g;\nconst steps = [];\nlet match;\n\n// Extract all regenerated steps\nconst sections = fullText.split(/### \\[?/).filter(s => s.trim());\n\nfor (const section of sections) {\n  const nameMatch = section.match(/^([^\\]\\n]+)\\]?/);\n  if (!nameMatch) continue;\n  \n  const stepName = nameMatch[1].trim();\n  \n  const hypothesisMatch = section.match(/\\*\\*Hypothèse testée:\\*\\*\\s*(.+?)\\n/);\n  const hypothesis = hypothesisMatch ? hypothesisMatch[1].trim() : '';\n  \n  // Extract Version A\n  const versionAMatch = section.match(/\\*\\*Version A[^*]*\\*\\*[\\s\\S]*?Objet:\\s*(.+?)\\nCorps:\\s*([\\s\\S]*?)(?=\\*\\*Version B|$)/);\n  const versionA = versionAMatch ? {\n    subject: versionAMatch[1].trim(),\n    body: versionAMatch[2].trim()\n  } : null;\n  \n  // Extract Version B\n  const versionBMatch = section.match(/\\*\\*Version B[^*]*\\*\\*[\\s\\S]*?Objet:\\s*(.+?)\\nCorps:\\s*([\\s\\S]*?)(?=\\*\\*Ce qui|$)/);\n  const versionB = versionBMatch ? {\n    subject: versionBMatch[1].trim(),\n    body: versionBMatch[2].trim()\n  } : null;\n  \n  steps.push({\n    stepName,\n    hypothesis,\n    versionA,\n    versionB\n  });\n}\n\nreturn [{\n  json: {\n    campaignId,\n    campaignName,\n    fullText,\n    steps,\n    nbStepsRegenerated: steps.length,\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000008",
      "name": "Parse Regenerated Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"NOTION_DB_HISTORIQUE_ID\"\n  },\n  \"properties\": {\n    \"Campagne\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.campaignName }}\"\n          }\n        }\n      ]\n    },\n    \"Date\": {\n      \"date\": {\n        \"start\": \"{{ $json.date }}\"\n      }\n    },\n    \"Hypothèses testées\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": {{ JSON.stringify($json.steps.map(s => s.hypothesis).join(' | ').slice(0, 2000)) }}\n          }\n        }\n      ]\n    },\n    \"Résultat\": {\n      \"select\": {\n        \"name\": \"En cours\"\n      }\n    }\n  },\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": {{ JSON.stringify($json.fullText.slice(0, 2000)) }}\n            }\n          }\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000009",
      "name": "Notion — Store Version History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Lemlist sequence update payload\n// Uses Version A as the primary, Version B as A/B variant\nconst data = $input.first().json;\nconst steps = data.steps || [];\n\nconst sequenceUpdates = steps\n  .filter(s => s.versionA)\n  .map((step, index) => {\n    return {\n      json: {\n        campaignId: data.campaignId,\n        stepIndex: index,\n        stepName: step.stepName,\n        subject: step.versionA.subject,\n        body: step.versionA.body,\n        variantSubject: step.versionB ? step.versionB.subject : null,\n        variantBody: step.versionB ? step.versionB.body : null\n      }\n    };\n  });\n\nreturn sequenceUpdates.length > 0 ? sequenceUpdates : [{ json: { skip: true } }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000010",
      "name": "Prepare Lemlist Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000011",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 520]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.lemlist.com/api/campaigns/{{ $json.campaignId }}/sequences/{{ $json.stepIndex }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": \"{{ $json.body }}\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000012",
      "name": "Lemlist — Update Sequences",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 440],
      "credentials": {
        "httpQueryAuth": {
          "id": "LEMLIST_CREDENTIAL_ID",
          "name": "Lemlist API Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Notion — Get Campaign History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion — Get Cross-Campaign Memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lemlist — Get Original Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion — Get Campaign History": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion — Get Cross-Campaign Memory": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lemlist — Get Original Sequences": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Regeneration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Regeneration Prompt": {
      "main": [
        [
          {
            "node": "Claude — Regenerate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Regenerate Messages": {
      "main": [
        [
          {
            "node": "Parse Regenerated Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Regenerated Messages": {
      "main": [
        [
          {
            "node": "Notion — Store Version History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Lemlist Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lemlist Updates": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Lemlist — Update Sequences",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "bakal"
    },
    {
      "name": "regeneration"
    }
  ],
  "meta": {
    "notes": "SETUP REQUIRED:\n1. Create Lemlist API credential (HTTP Query Auth with key 'api_key')\n2. Create Notion API credential (HTTP Header Auth with 'Bearer YOUR_TOKEN')\n3. Replace CLAUDE_API_KEY in the Claude node header\n4. Replace NOTION_DB_RESULTATS_ID with your 'Campagnes — Résultats' database ID\n5. Replace NOTION_DB_MEMOIRE_ID with your 'Mémoire Cross-Campagne' database ID\n6. Replace NOTION_DB_HISTORIQUE_ID with your 'Campagnes — Historique Versions' database ID\n7. After importing, copy the webhook URL and paste it into Workflow 1's 'Trigger Regeneration Workflow' node"
  }
}
